<div class="container">
  <div class="page-header">
    <h1>Goals</h1>
  </div>


  <div class="row" ng-repeat="goal in goals.list">
    <form class="form">
      <div class="control-group">
        <input ng-model="goal.text" class="form-control" ng-focus="goals.editing = goal.$id">
        <div class="control-group progress">
          <div class="progress-bar" role="progressbar" style="width: {{goal.progress}}%; min-width: 2em;">
            {{goal.progress}}%
          </div>
        </div>
        <div ng-show="goals.editing === goal.$id">
          <div class="control-group">
            <input ng-model="goal.progress" type="text" id="mySlider1" slider options="goals.options" />
          </div>
          <label for="">
            <input type="checkbox" ng-model="goal.isPrivate" ng-true-value="true" ng-false-value="false"> Private
          </label>
        </div>
        <div class="form-group" ng-show="goals.editing === goal.$id">
          <button class="btn btn-primary" ng-click="goals.save(goal)">Save</button>
          <button class="btn btn-danger" ng-click="goals.delete(goal)">Delete</button>
        </div>
      </div>
    </form>
  </div>


  <form class="form well">
    <div class="control-group">
      <input ng-model="goals.new.text" class="form-control" ng-focus="goals.editing = ''">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{goals.new.progress}}%; min-width: 2em;">
          {{goals.new.progress}}%
        </div>
      </div>
      <input ng-model="goals.new.progress" type="text" id="mySlider1" slider options="goals.options" />
      <label for="">
        <input type="checkbox" ng-model="goals.new.isPrivate" ng-true-value="true" ng-false-value="false"> Private
      </label>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" ng-click="goals.addNew()">Save</button>
      <button class="btn btn-danger" ng-click="goals.clearNew()">Clear</button>
    </div>
  </form>
</div>