<div id="profile" class="container-fluid">
  <div class="header">
    <div class="col-xs-4 picture">
      <a href="" class="thumbnail" ng-style="{'background-image': 'url(' +profile.data.picture+ ')'}">
      </a>
    </div>
    <div class="col-xs-8">
      <h2 ng-bind="profile.data.name"></h2>
      <p><strong ng-bind="profile.data.tagline"></strong></p>
    </div>  
  </div>
  <div class="row" ng-if="profile.own">
    <a ui-sref="edit-profile" class="btn btn-info" >Edit Profile</a>
  </div>
  <div class="container">
    goals
  </div>
  <div class="container">
    posts
  </div>
</div>